@{
    Layout = "_Layout";
}

<h2>Avstemming</h2>
<div class="finnKandidat">
    <label for="faktultetValg">Velg fakultet</label><br>
    <select id="faktultetValg" class="kandidatSøk">
        <option value="Alle">Alle</option>
        <option value="Handelshøyskolen">Handelshøyskolen</option>
        <option value="TNM">Teknologi, naturvitenskap og maritime fag</option>
        <option value="HIU">Humaniora, idretts- og utdanningsvitenskap</option>
        <option value="HS">Helse- og sosialvitenskap</option>
    </select><br>

    <label for="instituttValg">Velg institutt</label><br>
    <select id="instituttValg" class="kandidatSøk">
        <option value="Alle">Alle</option>
        <option value="ØkonomiIT">Økonomi og IT</option>
        <option value="ØMJ">Økonomi markedsføring og jus</option>
        <option value="IØSS">Økonomi, strategi og statsvitenskap</option>
        <option value="ØHS">Økonomi, Historie og samfunnsvitenskap</option>
    </select><br>

    <label for="kandidatSok">Søk etter kandidat</label><br>
    <input type="text" id="kandidatSok" class="kandidatSøk">
</div>

<div class="aFormer">
    <form class="kandidatformA" action="">
        <div class="kandidatbilde">
            <img src="~/bilder/ArnulfStorseth.jpg" alt="Bilde av Hans Hansen">
        </div>
        <hr>
        <p>
            <strong>Fornavn: </strong>Arnulf
            <br>
            <strong>Etternavn: </strong>Størseth
            <br>
            <strong>Informasjon: </strong>
            <br>
            Seniorkonsulent<br>
            Fakultet for helse- og sosialvitenskap <br>
            Campus Porsgrunn
        </p>

        <input type="submit" value="Velg" class="formknapp">
    </form>
    <form class="kandidatformA" action="">
        <div class="kandidatbilde">
            <img src="~/bilder/CecilieSundt.jpg" alt="Bilde av Hans Hansen">
        </div>
        <hr>
        <p>
            <strong>Fornavn: </strong>Cecilie
            <br>
            <strong>Etternavn: </strong>Sundt
            <br>
            <strong>Informasjon: </strong>
            <br>
            Rådgiver<br>
            Fakultet for helse- og sosialvitenskap <br>
            Campus Vestfold
        </p>

        <input type="submit" value="Velg" class="formknapp">
    </form>
    <form class="kandidatformA" action="">
        <div class="kandidatbilde">
            <img src="~/bilder/HenrietteJespersen.jpg" alt="Bilde av Hans Hansen">
        </div>
        <hr>
        <p>
            <strong>Fornavn: </strong>Henriette
            <br>
            <strong>Etternavn: </strong>Jespersen
            <br>
            <strong>Informasjon: </strong>
            <br>
            Studieveileder<br>
            Fakultet for helse- og sosialvitenskap <br>
            Campus Drammen
        </p>

        <input type="submit" value="Velg" class="formknapp">
    </form>
    <form class="kandidatformA" action="">
        <div class="kandidatbilde">
            <img src="~/bilder/FredrikLarsen.jpg" alt="Bilde av Hans Hansen">
        </div>
        <hr>
        <p>
            <strong>Fornavn: </strong>Fredrik
            <br>
            <strong>Etternavn: </strong>Larsen
            <br>
            <strong>Informasjon: </strong>
            <br>
            Seniorkonsulent<br>
            Fakultet for helse- og sosialvitenskap <br>
            Campus Porsgrunn
        </p>
        <input type="submit" value="Velg" class="formknapp">
    </form>
    <form class="kandidatformA" action="">
        <div class="kandidatbilde">
            <img src="~/bilder/KimNordvik.jpg" alt="Bilde av Hans Hansen">
        </div>
        <hr>
        <p>
            <strong>Fornavn: </strong>Kim
            <br>
            <strong>Etternavn: </strong>Nordvik
            <br>
            <strong>Informasjon: </strong>
            <br>
            Dosent <br>
            Handelshøyskolen <br>
            Campus Vestfold
        </p>
        <input type="submit" value="Velg" class="formknapp">
    </form>
    <form class="kandidatformA" action="">
        <div class="kandidatbilde">
            <img src="~/bilder/NaomiLende.jpg" alt="Bilde av Hans Hansen">
        </div>
        <hr>
        <p>
            <strong>Fornavn: </strong>Naomi
            <br>
            <strong>Etternavn: </strong>Lende
            <br>
            <strong>Informasjon: </strong>
            <br>
            Seniorkonsulent EVU<br>
            Handelshøyskolen <br>
            Campus Drammen
        </p>
        <input type="submit" value="Velg" class="formknapp">
    </form>
</div>
