@{
    Layout = "_Layout";
}


<h2>Nominering</h2>
<form method="post" action="" class="nominerKandidatSkjema" name="nominerKandidatSkjema">
    <label for="fornavn">Fornavn</label><br />
    <input type="text" id="fornavn" name="fornavn" required /> <br /> <br />
    <label for="etternavn">Etternavn</label><br>
    <input type="text" id="etternavn" name="etternavn" required /> <br /> <br />
    <input type="submit" value="Nominer kandidat" id="nominerKandidatKnapp" class="formknapp" name="nominerKandidatKnapp" />
</form>

<div class="nFormer">
    <form class="kandidatformN" action="">
        <div class="kandidatbilde">
            <img src="~/bilder/KaareOlsen.jpg" alt="Bilde av Hans Hansen">
        </div>
        <p>
            <strong>Fornavn: </strong>Kåre<br>
            <strong>Etternavn: </strong>Olsen
        </p>
    </form>

    <form class="kandidatformN" action="">
        <div class="kandidatbilde">
            <img src="~/bilder/RomanBendiksen.jpg" alt="Bilde av Hans Hansen">
        </div>
        <p>
            <strong>Fornavn: </strong>Roman
            <br>
            <strong>Etternavn: </strong>Bendiksen
        </p>
    </form>

    <form class="kandidatformN" action="">
        <div class="kandidatbilde">
            <img src="~/bilder/SanderTvedt.jpg" alt="Bilde av Hans Hansen">
        </div>
        <p>
            <strong>Fornavn: </strong>Sander
            <br>
            <strong>Etternavn: </strong>Tvedt
        </p>
    </form>

    <form class="kandidatformN" action="">
        <div class="kandidatbilde">
            <img src="~/bilder/SturlaJohansen.jpg" alt="Bilde av Hans Hansen">
        </div>
        <p>
            <strong>Fornavn: </strong>Sturla
            <br>
            <strong>Etternavn: </strong>Johansen
        </p>
    </form>

    <form class="kandidatformN" action="">
        <div class="kandidatbilde">
            <img src="~/bilder/WencheHansen.jpg" alt="Bilde av Hans Hansen">
        </div>
        <p>
            <strong>Fornavn: </strong>Wenche
            <br>
            <strong>Etternavn: </strong>Johansen
        </p>
    </form>

    <form class="kandidatformN" action="">
        <div class="kandidatbilde">
            <img src="~/bilder/TonjeNowak.jpg" alt="Bilde av Hans Hansen">
        </div>
        <p>
            <strong>Fornavn: </strong>Tonje
            <br>
            <strong>Etternavn: </strong>Nowak
        </p>
    </form>
</div>
